<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TORNEOS DE FUTBOL</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/AppForms.css" />

</head>
<body>
    <header class="header">
        <a href="~/Index" class="Logo">DK SPORTS</a>
        <a>LIGAS DE FUTBOL</a>
        <partial name="_LoginPartial" />
    </header>
    <aside class="AppAside">
        <nav class="nav2">
            <a href="~/Tablas/Jornadas">Jornadas</a>
            <a href="~/Tablas/TablaPosiciones">Tabla de posiciones</a>
            <a href="~/Tablas/TablaGoleadores">Tabla de Goleadores</a>
        </nav>
    </aside>
    <main class="AppMain">
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
