@page
@model LIGA_FUTBOL.Pages.Tablas.ActualizarEstadiosModel
@{
}

<div class="Catalogos">
    <div class="Menu">
        <div class="ListaCatalogos">
            <strong>Lista de catalogos </strong>

            <a>Estadios</a>
            <a>Clubes</a>
            <a>Jugadores</a>
        </div>


    </div>
    <div class="Contenido">
        <script type="module">
            import CreateTable from "../js/TableComponent.js";
            const LoadData = async () => {
                let url = "../api/Values/GetEstadio";
                let response = await fetch(url);
                response = await response.json();
                CreateTable(response, TableData, FunctionEdit);
            }
            const FunctionEdit = async (Item) => {
                console.log(Item);
                TxtID.value = Item.iD_TORNEO;
                TxtNombre.value = Item.nombrE_TORNEO;
                TxtFechaI.value = Item.fechA_INICIO;
                TxtFechaF.value = Item.fechA_FINAL;
                TxtNumeroJornadas.value = Item.numerO_DE_JORNADAS;


            }
            window.onload = async () => {
                BtnSave.onclick = async () => {
                    const ObjIns = {
                        ID_ESTADIO: (TxtID.value == "" ? -1 : TxtID.value),
                        NOMBRE_ESTADIO: TxtNombre.value,

                    }
                    let url = "../api/Values/SaveEstadio";
                    let response = await fetch(url, {
                        method: 'POST',
                        headers: {
                            'Content-type': 'application/json; charset-utf-8',
                            'Accept': '*/*'
                        },
                        body: JSON.stringify(ObjIns)
                    });
                    response = await response.json();
                    if (response == true) {
                        alert("Datos Guardados");
                        LoadData();
                        TxtID.Value = "-1";
                        TxtNombre.value = "";

                    }
                }
                LoadData();
            }
        </script>

        <h4>Nuevo Estadio</h4>
        <div class="FrmContainer">
            <div hidden="True">
                ID del Estadio:
                <input class="TxtForm" type="number" id="TxtID" placeholder="Propiedad..." value="-1" />
            </div>
            <div>
                Nombre del Estadio:
                <input class="TxtForm" type="text" id="TxtNombre" placeholder="Propiedad..." />
            </div>
        </div>

        <div class="FrmContainer">
            <div>
                <input class="BTN BTNOk2" type="button" id="BtnSave" value="Guardar" />
            </div>
        </div>


        <div class="container-fluid mt-4">
            <div class="row">
                <div class="col">
                    <h4>Lista de Estadios</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table id="TableData" class="FrmTable">
                        <thead>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

</div>