@page
@model LIGA_FUTBOL.Pages.Tablas.JornadasModel
@{
}

<div class="FrmContainer">
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="number" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="date" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />
    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />

    </div>
    <div>
        Propiedad:
        <input class="TxtForm" type="text" id="" placeholder="Propiedad..." />

    </div>
</div>

<div class="FrmContainer">
    <div>
        <input class="BTN BTNOk2" type="button" id="" value="Propiedad..." />
    </div>
    <div>
        
        <input class="BTN BTNCancel" type="button" id="" value="Propiedad..." />
    </div>
</div>

-->INVESTIGAR QUE ESTA TABLA MIIIIERDA SEA DINAMICA*/
<table class="FrmTable">
    <thead>
        <tr>
            <th>titulo 1</th>
            <th>titulo2</th>
            <th>titulo3</th>
            <th>titulo4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
        </tr>
        <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
        </tr>
        <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
        </tr>
    </tbody>
</table>
