@page
@model LIGA_FUTBOL.Pages.Tablas.NuevoTorneoModel
@{
}



@*<script>
        window.onload = () => {
            BtnSave.onclick = async  () => {
                const ObjInst = {
                    ID_TORNEO: TxtID.Value,
                    NOMBRE_TORNEO: TxtNombre.Value,
                    FECHA_INICIO: TxtFechaI.Value,
                    FECHA_FINAL: TxtFechaF.Value,
                    NUMERO_DE_JORNADAS: TxtNumeroJornadas.Value
                }
                let Url = "../api/Values/SaveTorneo";
                let response = await fetch(Url, {
                    method: "POST",
                    headers: {
                        'Content-Type': "application/json; charset=utf-8",
                        "accept": "*/*"
                    },
                    body: JSON.stringify(ObjInst)
                });
            }
        }
    </script>*@

@*<script type="module">
        import CreateTable from "../js/TableComponent.js";
        import CreateDropDown from "../js/DropDownComponent.js";
        const LoadData = async () => {
            let url = "../api/Values/GetTorneos";
            let response = await fetch(url);
            response = await response.json();
            CreateTable(response[0], TableData, FunctionEdit);
        //    /*CreateDropDown(response[1], ddcategory, "nombreCategoria", "codigoCategoria");//campos de la tabla categorias*/

        }
        const FunctionEdit = async (Item) => {
            console.log(Item);
            TxtID.value = Item.iD_TORNEO;
            TxtNombre.value = Item.nOMBRE_TORNEO;
            TxtFechaI.value = Item.fECHA_INICIO;
            TxtFechaF.value = Item.fECHA_FINAL;
            TxtNumeroJornadas.value = Item.nUMERO_DE_JORNADAS;

        window.onload = () => {
            BtnSave.onclick = async () => {
                let id;
                if (!TxtID.value) {
                    id = -1;
                }
                else {
                    id = TxtID.value;
                }
                const ObjIns = {
                    iD_TORNEO: id,
                    nOMBRE_TORNEO: TxtNombre.value,
                    fECHA_INICIO: TxtFechaI.value,
                    fECHA_FINAL: TxtFechaF.value,
                    nUMERO_DE_JORNADAS: TxtNumeroJornadas.value,

                }
                let flag = true;
                for (var prop in ObjIns) {
                    if (prop != "ID_TORNEO" && prop != "NOMBRE_TORNEO" && prop != "FECHA_INICIO" && prop != "FECHA_FINAL" && prop != "NUMERO_DE_JORNADAS") {
                        if (ObjIns[prop] == "") {
                            flag = false;
                            alert("la propiedad " + prop + " es requerida");
                            break;
                        }
                    }
                }
                if (!flag) {
                    return;
                }
                let url = "../api/Values/SaveTorneo";
                let response = await fetch(url, {
                    method: "POST",
                    headers: {
                        'Content-type': 'application/json; charset-utf-8',
                        'Accept': '*/*'
                    },
                    body: JSON.stringify(ObjIns)
                });
                response = await response.json();
                if (response == true) {
                    LoadData();
                    TxtID.Value = -1;
                    TxtNombre.Value = "";
                    TxtFechaI.Value = "";
                    TxtFechaF.Value = "";
                    TxtNumeroJornadas.Value = 0;
                }
            }
            LoadData();
        }
    </script>*@

<script type="module">
    import CreateTable from "../js/TableComponent.js";
    const LoadData = async () => {
        let url = "../api/Values/GetTorneo";
        let response = await fetch(url);
        response = await response.json();
        CreateTable(response, TableData, FunctionEdit);
    }
    const FunctionEdit = async (Item) => {
        console.log(Item);
        TxtID.value = Item.iD_TORNEO;
        TxtNombre.value = Item.nombrE_TORNEO;
        TxtFechaI.value = Item.fechA_INICIO;
        TxtFechaF.value = Item.fechA_FINAL;
        TxtNumeroJornadas.value = Item.numerO_DE_JORNADAS;


    }
    window.onload = async () => {
        BtnSave.onclick = async () => {
            const ObjIns = {
                ID_TORNEO: (TxtID.value == "" ? -1 : TxtID.value),
                NOMBRE_TORNEO: TxtNombre.value,
                FECHA_INICIO: TxtFechaI.value,
                FECHA_FINAL: TxtFechaF.value,
                NUMERO_DE_JORNADAS: TxtNumeroJornadas.value

            }
            let url = "../api/Values/SaveTorneo";
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json; charset-utf-8',
                    'Accept': '*/*'
                },
                body: JSON.stringify(ObjIns)
            });
            response = await response.json();
            if (response == true) {
                alert("Datos Guardados"); 
                LoadData();
                TxtID.Value = "-1";
                TxtNombre.value = "";
                TxtFechaI.value = "";
                TxtFechaF.value = "";
                TxtNumeroJornadas.value = "";
                
            }
        }
        LoadData();
    }
</script>


<div class="FrmContainer">
    <div hidden="True">
            ID del Torneo:
            <input class="TxtForm" type="number" id="TxtID" placeholder="Propiedad..." value="-1" />
        </div>
    <div>
        Nombre del Torneo:
        <input class="TxtForm" type="text" id="TxtNombre" placeholder="Propiedad..." />
    </div>
    <div>
        Fecha de inicial:
        <input class="TxtForm" type="date" id="TxtFechaI" placeholder="Propiedad..." />
    </div>
    <div>
        Fecha Final:
        <input class="TxtForm" type="date" id="TxtFechaF" placeholder="Propiedad..." />
    </div>
    <div>
        Numero de Jornadas:
        <input class="TxtForm" type="number" id="TxtNumeroJornadas" placeholder="Propiedad..." />
    </div>
</div>

<div class="FrmContainer">
    <div>
        <input class="BTN BTNOk2" type="button" id="BtnSave" value="Guardar" />
    </div>
</div>


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col">
            <h4>Lista de Torneos</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="TableData" class="FrmTable">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<table id="TableData" class="FrmTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>*@


